td,th{
	padding: 5px 10px;
    padding-top: 5px;
    padding-right: 10px;
    padding-bottom: 5px;
    padding-left: 10px;
border: 1px solid #DDD;
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    border-top-style: solid;
    border-right-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
    border-top-color: rgb(221, 221, 221);
    border-right-color: rgb(221, 221, 221);
    border-bottom-color: rgb(221, 221, 221);
    border-left-color: rgb(221, 221, 221);
    -moz-border-top-colors: none;
    -moz-border-right-colors: none;
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    border-image-source: none;
    border-image-slice: 100% 100% 100% 100%;
    border-image-width: 1 1 1 1;
    border-image-outset: 0 0 0 0;
    border-image-repeat: stretch stretch;
	font-size: 14px;
	
}
table{
	border-collapse: collapse;
}
*{
	/* font-size:16px; */
	font-size: 14px;
}
p{
	margin: 10px 0;
}
p span{
	font-size: 14px !important;
	line-height:normal;
}
a{color: #2d7bb9}
.workguide-content{
	position: absolute;top: 0;bottom:50px;right: 0;left: 0;padding: 10px;overflow: auto;
}
.workguide-footer{
	border-top: 1px solid #8fb0bf;margin: 0 10px;
	text-align: center;padding:7px 0;
	position: absolute;bottom: 0;left: 0;right: 0;
}
.workguide-check{padding:0 20px 20px 20px;font-size: 14px;color: #2d7bb9}
.workguide-check label:hover{font-weight: bold;}
.workguide-check input{margin-right: 10px;}