<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zxh.crawlerdisplay.web.system.dao.ITimeTaskDao" >
  <resultMap id="BaseResultMap" type="com.zxh.crawlerdisplay.web.system.entity.TimeTask" >
    <id column="id" property="id" jdbcType="NVARCHAR" />
    <result column="sort" property="sort" jdbcType="BIGINT" />
    <result column="task_id" property="taskId" jdbcType="NVARCHAR" />
    <result column="task_describe" property="taskDescribe" jdbcType="NVARCHAR" />
    <result column="cron_expression" property="cronExpression" jdbcType="NVARCHAR" />
    <result column="is_effect" property="isEffect" jdbcType="VARCHAR" />
    <result column="is_start" property="isStart" jdbcType="NVARCHAR" />
    <result column="create_date" property="createDate" jdbcType="TIMESTAMP" />
    <result column="create_by" property="createBy" jdbcType="NVARCHAR" />
    <result column="last_operator_time" property="lastOperatorTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, sort, task_id, task_describe, cron_expression, is_effect, is_start, create_date, 
    create_by, last_operator_time
  </sql>
  
  <select id="getById" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from m_time_task
    where id = #{id,jdbcType=NVARCHAR}
  </select>
  
  
  <select id="getUniqueByProperty" resultMap="BaseResultMap"  parameterType="CommonParam">
  	 SELECT * FROM m_time_task WHERE ${filedName}=#{value} 
  </select>
  
  <!-- 写操作 -->
  <delete id="deleteById" parameterType="java.lang.String" >
    delete from m_time_task
    where id = #{id,jdbcType=NVARCHAR}
  </delete>

  <insert id="insert" parameterType="com.zxh.crawlerdisplay.web.system.entity.TimeTask" >
    <selectKey keyProperty="id" resultType="java.lang.String" order="BEFORE" >
    	SELECT REPLACE(NEWID(),'-','')
    </selectKey>
    insert into m_time_task
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="sort != null" >
        sort,
      </if>
      <if test="taskId != null" >
        task_id,
      </if>
      <if test="taskDescribe != null" >
        task_describe,
      </if>
      <if test="cronExpression != null" >
        cron_expression,
      </if>
      <if test="isEffect != null" >
        is_effect,
      </if>
      <if test="isStart != null" >
        is_start,
      </if>
      <if test="createDate != null" >
        create_date,
      </if>
      <if test="createBy != null" >
        create_by,
      </if>
      <if test="lastOperatorTime != null" >
        last_operator_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=NVARCHAR},
      </if>
      <if test="sort != null" >
        #{sort,jdbcType=BIGINT},
      </if>
      <if test="taskId != null" >
        #{taskId,jdbcType=NVARCHAR},
      </if>
      <if test="taskDescribe != null" >
        #{taskDescribe,jdbcType=NVARCHAR},
      </if>
      <if test="cronExpression != null" >
        #{cronExpression,jdbcType=NVARCHAR},
      </if>
      <if test="isEffect != null" >
        #{isEffect,jdbcType=VARCHAR},
      </if>
      <if test="isStart != null" >
        #{isStart,jdbcType=NVARCHAR},
      </if>
      <if test="createDate != null" >
        #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="createBy != null" >
        #{createBy,jdbcType=NVARCHAR},
      </if>
      <if test="lastOperatorTime != null" >
        #{lastOperatorTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  
  
  
  <update id="updateSelective" parameterType="com.zxh.crawlerdisplay.web.system.entity.TimeTask" >
    update m_time_task
    <set >
      <if test="taskId != null" >
        task_id = #{taskId,jdbcType=NVARCHAR},
      </if>
      <if test="taskDescribe != null" >
        task_describe = #{taskDescribe,jdbcType=NVARCHAR},
      </if>
      <if test="cronExpression != null" >
        cron_expression = #{cronExpression,jdbcType=NVARCHAR},
      </if>
      <if test="isEffect != null" >
        is_effect = #{isEffect,jdbcType=VARCHAR},
      </if>
      <if test="isStart != null" >
        is_start = #{isStart,jdbcType=NVARCHAR},
      </if>
      <if test="createDate != null" >
        create_date = #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="createBy != null" >
        create_by = #{createBy,jdbcType=NVARCHAR},
      </if>
      <if test="lastOperatorTime != null" >
        last_operator_time = #{lastOperatorTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=NVARCHAR}
  </update>
  
  <update id="update" parameterType="com.zxh.crawlerdisplay.web.system.entity.TimeTask" >
    update m_time_task
    set
      task_id = #{taskId,jdbcType=NVARCHAR},
      task_describe = #{taskDescribe,jdbcType=NVARCHAR},
      cron_expression = #{cronExpression,jdbcType=NVARCHAR},
      is_effect = #{isEffect,jdbcType=VARCHAR},
      is_start = #{isStart,jdbcType=NVARCHAR},
      create_date = #{createDate,jdbcType=TIMESTAMP},
      create_by = #{createBy,jdbcType=NVARCHAR},
      last_operator_time = #{lastOperatorTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=NVARCHAR}
  </update>
  
</mapper>